<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome to SC2 Builds!</h1>
      <a href='/users'>Users</a><br>
      <a href='/posts'>Builds</a><br>
    </header>



  </body>
</html>
