body {
  background-color: blue;
  text-align: center;
  background-image: url(http://wallpapercave.com/wp/XSH0h3y.jpg);
  background-size: cover;
}

a {
  border: 1px solid black;
  padding: 10px;
  background-color: yellow;
}

h1  {
  color: blue;
  background-color: yellow;
}
