<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User's Hub</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header>
      <h1>User's Hub</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a><br><br><br>
          </li>
          <li>
            <a href="/users/new">Create an Account</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Our Active Users</h2>
      <ul>
        <% for(let i=0; i < users.length; i++){ %>
            <li class='users'>
              <a
              href='/users/<%=users[i]._id%>'><%=users[i].name%>
              </a><br><br><br>
            </li>
      <%  } %>
      </ul>
    </main>

  </body>
</html>
